# VStudio
[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
Ankh.NoLoad
# Resharper Ignore
_ReSharper.*
*.resharper
**/.vs/*

dependencies/solr-5.3.1/*
packages/*
dependencies/Sitecore7/*
src/DAT.Website/data/splunkLogs/*
src/DAT.Website/App_Browsers/*
src/DAT.Website/sitecore modules/*
src/DAT.Website/sitecore_files/*
src/DAT.Website/temp/*
src/DAT.Website/sitecore/admin/*
src/DAT.Website/sitecore/debug/*
src/DAT.Website/sitecore/images/*
src/DAT.Website/sitecore/portal/*
src/DAT.Website/sitecore/service/*
src/DAT.Website/sitecore/shell/*
src/DAT.Website/sitecore/CopyRights/*
src/DAT.Website/sitecore/login/*
src/DAT.Website/xsl/*
src/DAT.Website/sitecore/*.aspx
src/DAT.Website/Revisions/*
src/DAT.Website/Media/*
src/DAT.Website/sitecore/*.css
src/DAT.Website/App_Config/*
src/DAT.Website/data/*
!src/DAT.Website/data/Unicorn
src/DAT.Website/layouts/*
src/DAT.Website/upload/*




/tools/Addins/*
/tools/Cake/*
/tools/NUnit.ConsoleRunner.3.4.0/*

/dependencies/schemas
/*.DotSettings
/tools/nuget.exe
/tools/packages.config
/tools/packages.config.md5sum

# Custom File Locations
.coverage
.sonarqube
.test
.vscode
tools
*.NunitResult.xml
.dotnet
.vs
.scenarios
/*.feature.cs